= simple_form_for(@task) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
  %p
    %b Contexts:
    = @task.contexts.map{|r| r.name}.join(", ")
  %p
    %b Projects:
    = @task.projects.map{|r| r.name}.join(", ")
  = f.input :due
  = f.input :done
  = f.input :asap

  .form-actions
    = f.button :submit
