%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Contexts:
  = @task.contexts.map{|r| r.name}.join(", ")
%p
  %b Projects:
  = @task.projects.map{|r| r.name}.join(", ")
%p
  %b Due:
  = @task.due
%p
  %b Done:
  = @task.done

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
